<!-- Page section -->

<div class="pt-5 flex justify-center">
  <div class="w-12 rotate-180">
    <img src="../assets/rightside.btn.png" alt="" />
  </div>
  <div class="flex justify-center mt-2 gap-5">
    <!-- <a routerlink="">0</a> -->
    <a routerLink="/page-One" class="hover:font-bold">1</a>
    <a routerLink="/page-Two" class="hover:font-bold">2</a>
    <a routerLink="/page-Three" class="hover:font-bold">3</a>
    <a routerLink="/page-Four" class="hover:font-bold">4</a>
    <a routerLink="/page-Five" class="hover:font-bold">5</a>
    <a routerLink="/page-Six" class="hover:font-bold">6</a>
    <a routerLink="/page-Seven" class="hover:font-bold">7</a>
    <a routerLink="/page-Eight" class="hover:font-bold">8</a>
    <a routerLink="/page-Nine" class="hover:font-bold">9</a>
    <a routerLink="/page-Ten" class="hover:font-bold">10</a>
  </div>
  <div class="w-12"><img src="../assets/rightside.btn.png" alt="" /></div>
</div>

<!-- Button -->

<!--<div class="flex justify-center gap-10">
  <div class="border flex gap-2">
    <div class="w-8 rotate-180"><img src="../assets/btn.png" alt="" /></div>
    <button class="font-bold text-gray-500">Older</button>
  </div>
  <div class="border flex gap-2">
    <button class="font-bold text-gray-500">Newer</button>
    <div class="w-8">
      <img src="../assets/btn.png" alt="" />
    </div>
  </div>
</div> -->

<footer class="bg-black text-white text-center mt-5">
  <p>&copf; githubRepository. 2024</p>
</footer>
